@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Libre+Baskerville&family=Montserrat&display=swap");

.Carregamento {
  background-color: #033f63;
  width: auto;
  height: 100vh;
  overflow-y: auto;
  color: #e7e9d4;
  text-align: center;
  font-size: 40px;
  font-family: "Alfa Slab One", serif;
}

.Processos {
  background-color: #033f63;
  width: auto;
  height: 100vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vw;
  overflow-y: auto;
}

.Area-nome {
  font-family: "Alfa Slab One", serif;
  font-size: 60px;
  color: #e7e9d4;
  text-align: left;
  width: auto;
  padding-top: 20px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Area-descricao {
  font-family: "Montserrat", serif;
  font-size: 30px;
  color: #e7e9d4;
  margin-bottom: 30px;
  width: 90%;
}

.Processos-item {
  font-family: "Montserrat", serif;
  font-size: 25px;
  color: #e7e9d4;
  margin-bottom: 30px;
  list-style-type: none;
  width: 600px;
}

.Subprocessos-list {
  font-family: "Montserrat", serif;
  font-size: 20px;
  color: #e7e9d4;
  margin-top: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-left: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Edit-button {
  width: 160px;
  height: 60px;
  background: #065485;
  border: 0;
  border-radius: 8px;
  color: #e7e9d4;
  font-weight: 700px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  line-height: 60px;
  transition: 0.2s;
  font-family: "Montserrat", serif;
}

.Edit-button:hover {
  color: rgba(253, 187, 45, 1);
}

.Edit-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
}

.Add-buttons {
  padding: 20px;
}

.Save-button,
.Close-button {
  width: 160px;
  height: 60px;
  background: #065485;
  border: 0;
  border-radius: 8px;
  color: #e7e9d4;
  font-weight: 700px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  line-height: 60px;
  transition: 0.2s;
  font-family: "Montserrat", serif;
}

.Save-button:hover,
.Close-button:hover {
  color: rgba(253, 187, 45, 1);
}

.Save-button {
  margin-right: 10px;
}

.Add-subprocesso,
.Add-processo {
  width: 250px;
  height: 40px;
  background: #033f63;
  color: #e7e9d4;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition: 0.2s;
  font-family: "Montserrat", serif;
  transition: transform 0.4s ease;
  margin-right: 10px;
}

.Add-subprocesso:hover,
.Add-processo:hover {
  transform: scale(1.1);
}

.Delete-button {
  background-color: #033f63;
  color: #e7e9d4;
}

.Delete-button:hover {
  color: rgba(253, 187, 45, 1);
}

input,
textarea {
  width: calc(100% - 30px);
  height: 40px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background-color: #065485;
  color: #e7e9d4;
}
